{% extends 'base.html' %}

{% block content %}
<h1>Generate Maintenance Report</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% if field.errors %}
        <div class="errors">
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Generate Report</button>
</form>
{% endblock %}